.nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60%;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.nav a {
  color: rgb(108, 122, 224);
  position: relative;
}
.nav h2 {
  color: rgb(108, 122, 224);
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
}
.logoutBtn{
  background-color: rgb(108, 122, 224);
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.logoutBtn:hover {
  background-color: rgb(88, 102, 204);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

