.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ideaDetailesSec {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(108, 122, 224),
    rgb(168, 182, 244)
  ) !important;
  height: 100vh;
}
.card {
  width: 50%;
  justify-self: center;
}
.card h3 {
  text-align: center;
}
.card h4 {
  color: rgb(108, 122, 224);
}
.card p {
  color: rgb(160, 153, 160);
}
