.formSection {
  text-align: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(108, 122, 224),
    rgb(168, 182, 244)
  ) !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form-group input,
.form-group textarea {
  border: none;
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 5px rgba(108, 122, 224, 0.5); /* Adds a glowing effect */
}

.form-group label {
  display: none;
}
.submitBtn {
  background-color: rgb(108, 122, 224);
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(109, 124, 237, 0.2); /* Shadow on hover */
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.submitBtn:hover {
  background-color: rgb(88, 102, 204);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
