<div class="formSection">
  <div class="container-fluid col-6 formContainer">
    <h1>write Your Idea</h1>
    <form class="ideaForm" #ideaForm="ngForm" (ngSubmit)="onSubmitIdea(ideaForm)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          ngModel
          required
          placeholder="Write the title here..."
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          name="description"
          ngModel
          required
          placeholder="Describe the idea..."
        ></textarea>
      </div>

      <div class="form-group">
        <label for="problemDescription">Problem Description</label>
        <textarea
          class="form-control"
          name="problemDescription"
          ngModel
          placeholder="Describe the problem..."
        ></textarea>
      </div>

      <div class="form-group">
        <label for="ideaEffect"> Proposed Idea Effect</label>
        <textarea
          class="form-control"
          name="ideaEffect"
          ngModel
          placeholder="Explain the impact of the idea..."
        ></textarea>
      </div>

      <button type="submit" class="btn submitBtn">Submit Your Idea</button>
    </form>
  </div>
</div>
